h1{
    color:brown;
}
form{
    background-color: cornflowerblue;
}
body{
    background-color: black;
}
table{
    background-color: darkgrey;
}
input{
    border: 2px solid black;
    width: 200px;
    height: 25px;
}